<div class="container py-4">
    <div class="row justify-content-start gap-5">
        <div class="col-2">
            <input type="date" [(ngModel)]="date">
        </div>

        <div class="col-8">
            <div class="container">
                
                <!--FECHA-->
                <app-fecha [date]="date" (dateChange)="updateDate($event)"></app-fecha>
                <!--FECHA-->

                <!--ACTIVIDADES-->
                <app-activity-card [date]="date" (dateChange)="updateDate($event)" [startingTime]="'10:00'" [endingTime]="'11:30'"></app-activity-card>
                <app-activity-card [date]="date" (dateChange)="updateDate($event)" [startingTime]="'13:30'" [endingTime]="'15:00'"></app-activity-card>
                <app-activity-card [date]="date" (dateChange)="updateDate($event)" [startingTime]="'17:30'" [endingTime]="'19:00'"></app-activity-card>
                <!--ACTIVIDADES-->

            </div>
        </div>
    </div>

    <!--MODAL AÑADIR ACTIVIDAD-->
    <app-modal-add-activity/>
</div>
