<div class="container">
    <div class="row justify-content-center">
        <form class="form w-75">
            <select formControlName="activity" class="form-select mt-3 mb-5">
                @for(act of activities; track act.id) {
                    @if(activity.type.id == act.type.id){
                        <option selected>{{act.type.name}} selected</option>
                    }@else {
                        <option>{{act.type.name}}</option>
                    }
                    
                }
            </select>
            <select formControlName="monitor1" class="form-select mt-3">
                @for(monitor of monitors; track monitor.id) {
                    @if(activity.monitor1Id == monitor.id){
                        <option selected>{{monitor.name}} selected</option>
                    }@else {
                        <option>{{monitor.name}}</option>
                    }
                }
            </select>
            <select formControlName="monitor2" class="form-select mt-3">
                @for(monitor of monitors; track monitor.id) {
                    @if(activity.monitor2Id == monitor.id){
                        <option selected>{{monitor.name}} selected</option>
                    }@else {
                        <option>{{monitor.name}}</option>
                    }
                }
            </select>
            <div class="container mt-3">
                <div class="row cols-6 gap-4 pt-3">
                    <button type="submit" class="btn col btnModal rounded-pill" data-bs-dismiss="modal">Agregar</button>
                    <button type="button" class="btn col btnModal rounded-pill" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
