<div class="container">
    <div class="row justify-content-center">
        <form class="form w-75">
            <select formControlName="activity" class="form-select mt-3 mb-5">
                <option selected>Actividad</option>
                @for(act of activities; track activity.id) {
                    <option>{{act.type}}</option>
                }
            </select>
            <select formControlName="monitor1" class="form-select mt-3">
                <option selected>Monitor 1</option>
            </select>
            <select formControlName="monitor2" class="form-select mt-3">
                <option selected>Monitor 2</option>
            </select>
            <div class="container mt-3">
                <div class="row cols-6 gap-4 pt-3">
                    <button type="submit" class="btn col btnModal rounded-pill" data-bs-dismiss="modal">Agregar</button>
                    <button type="button" class="btn col btnModal rounded-pill" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
