<div class="container">
    <div class="row justify-content-center">
        <form class="form w-75" [formGroup]="activityAddForm" (ngSubmit)="onSubmit()">
            <select formControlName="activityType" class="form-select mt-3 mb-5">
                <option selected disabled>Actividad</option>{{startingTime}}
                @for(actType of activityTypes; track actType.id) {
                    <option>{{actType.name}}</option>
                }
            </select>
            <select formControlName="monitor1" class="form-select mt-3">
                <option selected disabled>Monitor 1</option>
                @for(monitor of monitors; track monitor.id) {
                    <option>{{monitor.name}}</option>
                }
            </select>
            <select formControlName="monitor2" class="form-select mt-3">
                <option selected disabled>Monitor 2</option>
                @for(monitor of monitors; track monitor.id) {
                    <option>{{monitor.name}}</option>
                }
            </select>
            <div class="container mt-3">
                <div class="row cols-6 gap-4 pt-3">
                    <button type="submit" class="btn col btnModal rounded-pill" data-bs-dismiss="modal">Agregar</button>
                    <button type="button" class="btn col btnModal rounded-pill" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
